{% load i18n %}
{% load flatpages %}

{% get_flatpages '/about/' as about %}
<footer class="u-hideForInfiniteLoad" style="opacity: 1;">
    <div class="wrapper">
        <div class="footer-content-top">
            <div class="footer-social-links footer-row-vertical">
                 <a target="_blank" href="{{ config.PINTEREST_LINK }}">
                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                </a>
                <a target="_blank" href="{{ config.FACEBOOK_LINK }}">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a target="_blank" href="{{ config.TWITTER_LINK }}">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </div>

            <div class="footer-row-vertical logo">
                <a href="/" id="lockup">
                    <div id="logo"></div>
                    <div class="back-to-top js-back-to-top"></div>
                </a>
            </div>


            <div class=" footer-prim-links footer-row-vertical">
                <a href="{% url 'about' %}">{% trans 'About' %}</a>
                <a href="mailto:{{ config.CONTACT_EMAIL }}">{% trans 'Send Email' %}</a>
                <a href="{% url 'featured:issue_list' %}">{% trans 'Blog' %}</a>
            </div>

        </div>
        <div class="footer-bottom-absolute">
            <div class="footer-content-bottom">
            <div class="footer-row footer-secondary-links">
                <a href="{% url 'terms' %}">{% trans 'Terms' %}</a>
            </div>

            <div class="footer-row footer-secondary-links text-center">
                <p>{% trans 'All rights reserved' %}. {% now 'Y' %}</p>
            </div>
            <div class="footer-row"></div>
        </div>
        </div>
    </div>
</footer>