<footer class="u-hideForInfiniteLoad" style="opacity: 1;">
    <div class="wrapper">
        <div class="footer-content-top">
            <div class="footer-social-links footer-row-vertical">
                 <a target="_blank" href="https://www.pinterest.com/joincanopy">
                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/joincanopy">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a target="_blank" href="http://twitter.com/joincanopy">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </div>

            <div class="footer-row-vertical logo">
                <a href="/" id="lockup">
                    <div id="logo"></div>
                    <div class="back-to-top js-back-to-top"></div>
                </a>
            </div>


            <div class=" footer-prim-links footer-row-vertical">
                <a href="#">About</a>
                <a href="#">Add Products</a>
                <a href="#">Blog</a>
            </div>

        </div>
        <div class="footer-bottom-absolute">
            <div class="footer-content-bottom">
            <div class="footer-row footer-secondary-links">
                <a href="#">Terms</a>
                <a href="#">Privacy</a>
                <a href="#">Directory</a>
            </div>

            <div class="footer-row footer-secondary-links text-center">
                <p>All rights reserved. 2017</p>
            </div>
            <div class="footer-row"></div>
        </div>
        </div>
    </div>
</footer>