<footer class="u-hideForInfiniteLoad" style="opacity: 1;">
    <div class="wrapper">
        <div class="footer-content-container">
            <div class="footer-proper">
                <h1 class="footer-tagline">Discover the best products on Amazon, <br>curated by a community with great taste.
                </h1>
                <div class="footer-primary-links"><a class=" " href="https://canopy.co/about"><span>About</span>
                </a><a class=" " href="https://canopy.co/app"><span>App</span>
                </a><a class=" " href="/add-products"><span>Add products</span>
                </a><a class=" " href="https://canopy.co/press"><span>Press</span>
                </a><a class="" target="_blank" href="http://blog.canopy.co"><span>Blog</span>
                </a></div>
                <div class="footer-small-text"><p>Canopy is an independent company. Amazon&nbsp;is&nbsp;a&nbsp;trademarked&nbsp;brand.<br>©2017Canopy.co. All rights reserved.
                </p>
                </div>
                <div class="footer-small-text footer-secondary-links"><a class="deemphasized" href="/terms">Terms</a><a class="deemphasized" href="/privacy">Privacy</a><a class="deemphasized" href="/products/directory">Directory</a><a class="deemphasized" href="mailto:hello@canopy.co">Send&nbsp;feedback</a>
                </div>
                <div class="footer-social-links"><a target="_blank" class="footer-twitter-link" href="http://twitter.com/joincanopy">Twitter</a><a target="_blank" class="footer-instagram-link" href="https://instagram.com/canopy">Instagram</a><a target="_blank" class="footer-facebook-link" href="https://www.facebook.com/joincanopy">Facebook</a><a target="_blank" class="footer-pinterest-link" href="https://www.pinterest.com/joincanopy">Pinterest</a><a target="_blank" class="footer-flipboard-link" href="https://flipboard.com/profile/CanopyCo">Flipboard</a>
                </div>
            </div>
        </div>
    </div>
</footer>