{% extends 'featured/featured.html' %}

{% load i18n %}
{% load thumbnail %}

{% block before_content %}
<div class="PageHeader--backgroundImage PageHeader--grow PageHeader--issue js-headerShareCanvas u-invertTextColor" style="{% thumbnail issue.main_image '1920' as img %}background-image: url({{ img.url }}){% endthumbnail %}">
    <div class="Scrim--textOverImage"></div>
    <div class="wrapper PageHeader-wrapper">
        <div class="HeaderShare js-closeHeaderShare">
            <div class="HeaderShare-centeringContainer">
                <div class="HeaderShare-shareButtons">
                    {% thumbnail issue.main_image '500x630' crop='center' as img %}
                        <a class="js-headerShareButton HeaderShare-Button facebook" target="_blank" data-share-object-type="feature" data-share-method="facebook" href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]={{ request.build_absolute_uri }}&amp;p[images][0]=http://{{ request.get_host }}{{ img.url }}&amp;p[title]={{ issue.title }}, Featured Issue {{ issue.id }} on This Is My Galaxy&amp;p[summary]={{ issue.description }}"></a>
                        <a class="js-headerShareButton HeaderShare-Button twitter" target="_blank" data-share-object-type="feature" data-share-method="twitter" href="http://twitter.com/home?status=Issue+{{ issue.id }}%3A+{{ issue.title }}+This+Is+My+Galaxy.+{{ request.build_absolute_uri }}"></a>
                        <a class="js-headerShareButton HeaderShare-Button pinterest" target="_blank" data-share-object-type="feature" data-share-method="pinterest" href="//www.pinterest.com/pin/create/button/?url={{ request.get_absolute_uri|iriencode }};media=http://{{ request.get_host }}{{ img.url }}&amp;description=Issue+{{ issue.id }}%3A+{{ issue.title }}%2C+featured+on+This Is My Galaxy%3A+{{ request.build_absolute_uri }}"></a>
                        <a class="js-headerShareButton HeaderShare-Button email" data-share-object-type="feature" data-share-method="email" href="mailto:?body=Each%20week%2C%20the%20This Is My Galaxy%20editorial%20team%20features%20beautiful%20products%20in%20hand-curated%20Issues.%20Check%20this%20one%20out%3A%0D%0A%0D%0A%23%20{{ issue.title }}%0D%0A{{ issue.description|iriencode }}%0A%0D%0A{{ request.build_absolute_uri }}&amp;subject={{ issue.title|iriencode }}%20{{ issue.id }}%20on%20This Is My Galaxy"></a>
                    {% endthumbnail %}
                </div>
                <div class="HeaderShare-closeButtonContainer">
                    <div class="js-closeButtonAnimateTarget" style="opacity: 0">
                        <div class="close-button-base close-button-thin js-closeHeaderShareButton"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="PageHeader-contentContainer">
            <div class="PageHeader-content">
                <div class="IssueMeta-subtitle">{% trans 'Issue' %} {{ issue.id }}
                </div>
                <h1 class="IssueMeta-title js-issueTitle">
                    {{ issue.title }}
                </h1>
                <div class="IssueMeta-description">
                    <p>
                        {{ issue.description }}
                    </p>
                </div>
                <div class="IssueMeta-datestamp">
                    {{ issue.when_created | date:'F d, Y' }}
                </div>

                <div class="PageHeader-actionsContainer"><div class="PillButton--stroked js-triggerHeaderShare">
                    {% trans 'Share' %}
                </div>
                </div>
            </div>
            <div class="PageHeader-navigationContainer">
                <a class="PillButton--text u-backArrow" href="{% url 'featured:issue_list' %}">{% blocktrans %}All Issues{% endblocktrans %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div id="items">
        <div class="cards-container CardsContainer--featured ready">
            {% for raw in issue.raws.all %}
                {% include 'featured/_issue_raw.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}