{% extends 'base.html' %}

{% load staticfiles %}
{% load featured_tags %}

{% block before_content %}
    {% latest_issue %}
{% endblock %}

{% block filters_position %}
    <div class="nav-level">
        <div class="nav-level-layout wrapper">
            <div class="PageTabs">
                <form method="get" action="." id="filter-form">
                    {{ filter_form.errors }}
                    {% for option in filter_form.order_by %}
                        <label>
                            {{ option.tag }}
                            <span class="page-section-tab">{{ option.choice_label|capfirst }}</span>
                        </label>
                    {% endfor %}
                </form>

            </div>
        </div>
    </div>
{% endblock %}

{% block content_class %}
    {{ block.super }} feed-list
{% endblock %}

{% block content %}

    <div id="items">
        {% include page_template %}
    </div>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 200
        });
    </script>
    <script type="text/javascript">

    $(document).ready(function () {
        $("#filter-form input[type='radio']").on('change', function () {
            $form = $(this).parents('form');

            var url = $form.attr('action');
            var method = $form.attr('method');
            var data = $form.serialize();
            $.ajax({
                url: url,
                method: method,
                data: data,
                success: function (data){
                    $("#items").html(data);

                },
                error: function (data) {
                    alert('На сервере произошла ошибка, извините за временные неудобства');
                }
            })
        });

    });
    </script>

{% endblock %}