{% extends 'base.html' %}

{% load staticfiles %}
{% load featured_tags %}

{% block before_content %}
    {% latest_issue %}
{% endblock %}

{% block filters_position %}
    <div class="nav-level">
        <div class="nav-level-layout wrapper">
            <div class="PageTabs">
                <form method="get" action="." id="filter-form">
                    {{ filter_form.errors }}
                    {% for option in filter_form.order %}
                        <label>
                            {{ option.tag }}
                            <span class="page-section-tab">{{ option.choice_label|capfirst }}</span>
                        </label>
                    {% endfor %}
                </form>

            </div>
        </div>
    </div>
{% endblock %}

{% block content_class %}
    {{ block.super }} feed-list
{% endblock %}

{% block content %}

    <div id="items">
        {% include page_template %}
    </div>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 200
        });
    </script>

{% endblock %}