{% extends 'base.html' %}

{% block content %}
    <div class="switch-button">
        <form method="get" action="." id="filter-form">
            {{ filter_form.errors }}
            {% for option in filter_form.order_by %}
                <label>
                    {{ option.tag }}
                    <span class="switch-button-case right sort-on-popular">{{ option.choice_label|capfirst }}</span>
                </label>
            {% endfor %}

        </form>

    </div>

    <div class="ui stackable doubling four column grid" id="items">
        {% for item in items %}
            {% include 'catalogue/preview_item.html' %}
        {% endfor %}

        <span class="product-list-end"></span>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">

    $(document).ready(function () {
        $("#filter-form input[type='radio']").on('change', function () {
            $form = $(this).parents('form');

            var url = $form.attr('action');
            var method = $form.attr('method');
            var data = $form.serialize();
            $("#loader").show();
            $.ajax({
                url: url,
                method: method,
                data: data,
                success: function (data){

                    $("#loader").hide();
                    $("#items").html(data);

                }
            })
        });

    });
    </script>
{% endblock %}