{% extends 'base.html' %}
{% load staticfiles %}

{% block before_content %}
    <div class="wrapper IssueCard-bannerContainer js-issueBannerOnExploreContainer">
        <a class="IssueCard hover-overlay-light IssueCard--backgroundImage u-invertTextColor" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_limit,w_1920/w3nk5usyhagavlwooolj.jpg)" href="/featured/issue/69/curated-by-pat-orourke">
            <div class="Scrim--textOverImage"></div>
            <div class="wrapper">
                <div class="FlexRow">
                    <div class="IssueCard-titleContainer">
                        <div class="badge">
                            <span>
                                NEW ISSUE
                            </span>
                        </div>
                        <h1 class="IssueMeta-title js-issueTitle">
                            Curated by Pat O'Rourke
                        </h1>
                        <div class="IssueMeta-datestamp">
                            July 4th, 2017
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
{% endblock %}

{% block filters_position %}
    <div class="nav-level">
        <div class="nav-level-layout wrapper">
            <div class="PageTabs">
                <form method="get" action="." id="filter-form">
                    {{ filter_form.errors }}
                    {% for option in filter_form.order_by %}
                        <label>
                            {{ option.tag }}
                            <span class="page-section-tab">{{ option.choice_label|capfirst }}</span>
                        </label>
                    {% endfor %}
                </form>

            </div>
        </div>
    </div>
{% endblock %}

{% block content_class %}
    {{ block.super }} feed-list
{% endblock %}

{% block content %}

    <div id="items">
        {% include page_template %}
    </div>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 200
        });
    </script>
    <script type="text/javascript">

    $(document).ready(function () {
        $("#filter-form input[type='radio']").on('change', function () {
            $form = $(this).parents('form');

            var url = $form.attr('action');
            var method = $form.attr('method');
            var data = $form.serialize();
            $("#loader").show();
            $.ajax({
                url: url,
                method: method,
                data: data,
                success: function (data){

                    $("#loader").hide();
                    $("#items").html(data);

                },
                error: function (data) {
                    $("#loader").hide();
                    alert('На сервере произошла ошибка, извините за временные неудобства');
                }
            })
        });

    });
    </script>

{% endblock %}