{% load thumbnail %}
{% load likelist_tags %}
{% load i18n %}

<div class="ui two columns stackable grid">
            <div class="column left-content center aligned">
                {% thumbnail item.main_image img_size crop="center" as im %}
                    <img class="ui product-image" src="{{ im.url }}" alt="{{ item.title }}"><br>
                {% empty %}
                    <p>No image</p>
                {% endthumbnail %}
                <div class="desktop">
                    <div class="small icons social-media-share">
                        <span class="ui mini circular image facebook-share"><i class="facebook icon"></i></span>
                        <span class="ui mini circular image twitter-share"><i class="twitter icon"></i></span>
                        <span class="ui mini circular image pinterest-share"><i class="pinterest icon"></i></span>
                        <a href="mailto:?Subject= Brown Welcome Doormat%20on%20Repick.co&amp;body=https://repick.co/products/1027" target="_top"><span class="ui mini circular image mail-share"><i class="mail icon"></i></span></a>
                    </div>
                </div>
            </div>
            <div class="column right-content">
                <p class="title-text">{{ item.title }}</p>
                <p class="brand-text">{{ item.brand.name }}</p>

                <a class="ui huge blue button price-button" rel="nofollow" target="_blank" href="{{ item.link }}">
                    <span class="button-price"><span class="dollar-sign">$</span>{{ item.get_parse_price.digits }}<span class="decimals">{{ item.get_parse_price.decimal }}</span></span><span class="button-buy-on-amazon">{% trans 'ПОКУПАЙТЕ НА' %} {{ item.get_site_name }}</span>
                </a>

                <br>
                <a class="ui huge white button want-button" id="like-button" href="{% url 'likelist:toggle_like' item.slug %}" data-id="{{ item.slug }}">
                    <div class="love-this-wrapper-standalone">
                        <i class="heart icon large love-this-icon animated fadeIn{% if item|likelist_exist:request.likelist %} active{% endif %}"></i>
                    </div>
                    <span>LIKE</span>
                </a>
                <div class="editors-note">

                    <p class="description-text">
                        {{ item.description }}
                    </p>
                </div>
                <div class="mobile">
                    <div class="small icons social-media-share">
                        <span class="ui mini circular image facebook-share"><i class="facebook icon"></i></span>
                        <span class="ui mini circular image twitter-share"><i class="twitter icon"></i></span>
                        <span class="ui mini circular image pinterest-share"><i class="pinterest icon"></i></span>
                        <a href="mailto:?Subject= Brown Welcome Doormat%20on%20Repick.co&amp;body=https://repick.co/products/1027" target="_top"><span class="ui mini circular image mail-share"><i class="mail icon"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
        {% if item.related_items.all  %}
        <h3 class="center aligned related-text">RELATED PRODUCTS</h3>

            {% if item.related_products|length > 4 %}

                <div class="related-products">
                    {% for rel_item in items.related_items.all|slice:'4:' %}
                        <div class="related-product" data-id="{{ rel_item.get_absolute_url }}">
                            {% thumbnail rel_item.main_image "200x200" crop="center" as img %}
                                <img class="ui centered image" src="{{ img.url }}" alt="{{ rel_item.title }}">
                            {% endthumbnail %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}


        <div class="ui stackable two column grid">
            {% for rel_item in item.related_items.all|slice:':4' %}
            <div class="column big-related-product" data-id="{{ rel_item.slug }}">
                {% thumbnail rel_item.main_image '265x265' crop='center' as img %}
                    <img class="ui centered image" src="{{ img.url }}" alt="{{ rel_item.title }}">
                {% endthumbnail %}
            </div>
            {% endfor %}

        </div>
        {% endif %}