{% load thumbnail %}
{% load likelist_tags %}
{% load i18n %}


<div class="product-detail-page js-detail-page" data-product-id="{{ item.id }}"  itemtype="http://schema.org/Product">
    <meta itemprop="brand">
    <meta content="https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_600,h_600/is4qxt4oso2oacfzr7yo.jpg" itemprop="image">
    <meta content="{{ request.path }}" itemprop="url">
    <div class="product-header">
        <div class="details-image-container">
            <div data-react-class="ProductDetailsActions">
                <div class="ProductDetails-actionsContainer">
                    <span class="CardAction--showText CardAction CardAction--like like-action-link {% if item|likelist_exist:request.likelist %}is-liked{% endif %}" id="like-button" href="{% url 'likelist:toggle_like' item.slug %}">
                        <span class="glyph-action glyph-hidden-unless-active"></span>
                        <span class="CardActionText">Like</span>
                    </span>
                </div>
            </div>

            <div class="product-image" style="{% thumbnail item.main_image '600x600' crop="center" as img %} background-image:url('{{ img.url }}');{% endthumbnail %} ">
                <span>
                    {{ item.title }}
                </span>
            </div>

            <div class="preload">
                {% thumbnail item.main_image '600x600' crop="center" as img %}
                    <img alt="{{ item.title }}" src="{{ img.url }}">
                {% endthumbnail %}
            </div>
        </div>

        <div class="product-info">

            <div class="vertical-center-outer">

                <div class="vertical-center-inner">
                    <div class="centered-section border-box">
                        <h1 class="ProductInfo-title" itemprop="name">
                            <a target="_blank" rel="nofollow" data-analytics-source="Details Page" class="ProductInfo-titleLink" href="{{ item.link }}">{{ item.title }}</a>
                        </h1>
                        <div class="ProductInfo-brand">
                            <span>{% trans 'by' %}</span>
                            {{ item.brand }}
                        </div>
                        <div class="goto-amazon-container" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                            <meta content="${{ item.get_parse_price.digits }}" itemprop="price">
                            <meta content="InStock" href="http://schema.org/InStock" itemprop="availability">
                            <a target="_blank" rel="nofollow" class="go-to-amazon product-page button goto analytics-track-to-amazon" href="{{ item.link }}">${{ item.get_parse_price.digits }} on {{ item.get_site_name }}</a>
                        </div>
                        <div class="MetaData">
                            <p class="text-type">@{% trans 'description' %}:</p>
                            <p>{{ item.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social-actions-alignment">
                <div class="social-actions-container">
                    <div class="social-networks">
                        {% thumbnail item.main_image '600x600' crop='center' as img %}
                        <a class="js-share-button-tracking js-share-button share-button" target="_blank" data-sharedvia="facebook" href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]={{ request.build_absolute_uri|urlencode }}&amp;p[images][0]={{ request.scheme }}://{{ request.get_host }}{{ img.url|iriencode }}&amp;p[title]={{ item.brand.name|iriencode }}+{{ item.title|iriencode }}%5D%2C+via+This Is My Galaxy&amp;p[summary]=Find+beautiful+things+on+This+Is+My+Galaxy">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a class="js-share-button-tracking js-share-button share-button" target="_blank" data-sharedvia="twitter" href="http://twitter.com/home?status=Found+on+Canopy%3A+{{ item.brand.name }}+{{ item.title|iriencode }}%5D+{{ request.build_absolute_uri }}">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a class="js-share-button-tracking share-button" target="_blank" data-sharedvia="pinterest" href="//www.pinterest.com/pin/create/button/?url={{ request.build_absolute_uri|urlencode }}&amp;media={{ request.scheme }}://{{ request.get_host }}{{ img.url | iriencode }}&amp;description={{ item.brand.name|iriencode }} {{ item.title|iriencode }}">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                        <a class="js-share-button-tracking share-button" data-sharedvia="email" href="mailto:?subject={{ item.brand.name }} {{ item.name }} found on This IS My Galaxy&amp;body=I thought you might like this: {{ request.build_absolute_uri|urlencode }}">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </a>
                        {% endthumbnail %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if item.related_items.all %}
    <div class="product-secondary-container">
        <div class="DetailsSection-container">
            <div class="DetailsSection-header">{% trans 'Related' %}</div>

            <div class="ProductPivot">
                <div class="ProductPivot-productsContainer">
                    {% for rel_item in item.related_items.all %}
                    <a class="ProductPivot-product fancybox fancybox-wide fancybox.ajax hover-overlay-light page-pivot" data-pivot-name="Art &amp; Design Books" data-pivot-type="category" data-product-id="681" data-product-name="Things Come Apart: A Teardown Manual for Modern Living, Hardcover" href="{{ rel_item.get_absolute_url }}">
                        <div class="product-image" style="{% thumbnail item.main_image '160x160' crop="center" as img %}background-image: url('{{ img.url }}'); background-image: -webkit-image-set(url('{{ img.url }}') 1x, url('{{ img.url }}') 2x ){% endthumbnail %}">
                            <span>{{ rel_item.title }}</span>
                        </div>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="Details-divider"></div>
    </div>
    {% endif %}
</div>