{% extends 'base.html' %}

{% load staticfiles %}

{% block before-content %}

{% endblock %}

{% block styles %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/styles4.css' %}">
{% endblock %}

{% block content%}
    <div class="wrapper">
        <div class="cards-container ready">
            <div class="CollectionGrid-container">
                <div class="CollectionGrid">
                    {% for category in categories %}
                    <a class="CollectionGrid-tile hover-overlay-light" href="{{ category.get_absolute_url }}">
                        <div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                        <div class="CollectionGrid-tileImage1 align-center" style="background-image: url({{ category.main_image.url }})"></div>
                        <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                            {{ category.name }}
                        </div>
                    </a>
                    {% endfor %}
                    <a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-him"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/m08bn1hgj2eeqr5n6jwg.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For Him
                    </div>
                    </a>

                    <a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-her"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/auixgof28o6evcazqwpb.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For Her
                    </div>
                    </a>
                    <a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-kids"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/ohqwwtubi6m62ilofk3g.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For Kids
                    </div>

                </a><a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-the-girlfriend"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/fx7rjcqk8usfzhhjwy0d.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For the Girlfriend
                    </div>

                </a><a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-the-boyfriend"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/ykiwqx2x8bpehuaspgcn.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For the Boyfriend
                    </div>

                </a><a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-dad"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/p00v38bc8eoaeggcsito.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For Dad
                    </div>

                </a><a class="CollectionGrid-tile hover-overlay-light" href="/shop/gifts-under-$20"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/kd8eomgax5wapdzjqwk4.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        Gifts Under $20
                    </div>

                </a><a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-mom"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/xizmwnh2ybohp4urhbps.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For Mom
                    </div>

                </a><a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-babies"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/dqfg0g52e8v0uc1ifc2q.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For Babies
                    </div>

                </a><a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-the-curious"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/txm9hsztgx7nl5lygnjy.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For the Curious
                    </div>

                </a><a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-the-minimalist"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/e1db4fvc1zgh5buoh9yz.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For the Minimalist
                    </div>

                </a><a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-the-abstract"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/daw0wuxkv0um0z0yv4kl.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For the Abstract
                    </div>

                </a><a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-the-practical"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/mast2rblgwqb8dp81ehp.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For the Practical
                    </div>

                </a><a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-the-modern"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/bwh8f0weoxvb4xq0gdbb.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For the Modern
                    </div>

                </a><a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-the-adventurous"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/dvltdnuz642uyj8r8sac.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For the Adventurous
                    </div>

                </a><a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-the-technical"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/akxhy9zwjgtjm1iepqcf.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For the Technical
                    </div>

                </a><a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-the-mindful"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/zj1ttr4tymdyffxyovzv.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For the Mindful
                    </div>

                </a><a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-the-playful"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/dezzykjsqamrdcsf7rtn.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For the Playful
                    </div>

                </a><a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-the-athletic"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/x63j8unn0higctyemefr.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For the Athletic
                    </div>

                </a><a class="CollectionGrid-tile hover-overlay-light" href="/shop/for-the-pet"><div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                    <div class="CollectionGrid-tileImage1 align-center" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/c_lpad,w_300,h_300/ohxydsidnq0asnd2yysk.jpg)"></div>
                    <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                        For the Pet
                    </div>
                </a>
                </div>
            </div>
        </div>
        <div class="InfiniteScrollFooter">
            <div class="InfiniteScrollFooter-signature"></div>

        </div>

    </div>

{% endblock %}