{% extends 'base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}


{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/styles4.css' %}">
{% endblock %}

{% block before-content %}

    <div class="categories">
        <div class="ui main container">
            <div class="ui four column stackable grid animated fadeIn">
                <div class="three wide column">
                    <h1>{{ category.name }}</h1>
                </div>

                <div class="thirteen wide column types">
                    <form class="tags-filters filter-form" style="display: inline-block">
                        {% csrf_token %}
                        <span class="all-type type active">All</span>
                        {% for option in filter_form.tags %}
                            <label class="type">
                                {{ option.tag }}
                                <span>{{ option.choice_label }}</span>
                            </label>
                        {% endfor %}
                         <span class="more-type">more..</span>
                    </form>
                </div>
            </div>
            <div class="column center aligned animated fadeIn"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="nav-level">


    <div class="nav-level-layout wrapper">

        <div class="PageTabs"></div>
        <div class="page-filters">

            <form class="filter-group filter-form">
                {% for option in filter_form.order_by %}
                    <label class="filter-link">
                        {{ option.tag }}
                        <span>{{ option.choice_label }}</span>
                    </label>
                {% endfor %}

            </form>
        </div>

    </div>
    </div>
    <div class="ui stackable doubling four column grid" id="items">
        {% include page_template %}

    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 200
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {

            function submitFilterForm() {
                $loader.show();
                data = $(".filter-form").serialize();
                $.ajax({
                    data: data,
                    success: function (data) {

                        $("#items").html(data);
                        $loader.hide()
                    },
                     error: function () {
                         alert('Извините за доставленные не удобства, попробуйте позже');
                         $loader.hide();
                     }
                })
            }

            $('.tags-filters input[type="checkbox"]').on("change", function (e) {

                submitFilterForm();
            });

            $(".filter-group input").on("change", function (e) {
                submitFilterForm()
            });

        })
    </script>

{% endblock %}