{% extends 'catalogue/catalogue.html' %}

{% load staticfiles %}
{% load widget_tweaks %}
{% load thumbnail %}
{% load share_tags %}
{% load i18n %}


{% block before_content %}
    {% if category.background_image or category.description %}
        <div class="PageHeader--backgroundImage PageHeader--grow PageHeader--shop js-headerShareCanvas u-invertTextColor" style="{% thumbnail category.background_image '1920' as img %}background-image: url({{ img.url }}){% endthumbnail %}">
            <div class="Scrim--textOverImage"></div>
            <div class="wrapper PageHeader-wrapper">
                <div class="HeaderShare js-closeHeaderShare">
                    <div class="HeaderShare-centeringContainer">
                        <div class="HeaderShare-shareButtons">
                            {% thumbnail category.main_image '500x630' crop='center' as img %}
                                <a class="js-headerShareButton HeaderShare-Button facebook" target="_blank" data-share-object-type="null" data-share-method="facebook" href="https://facebook.com/sharer/sharer.php?s=100&p[url]={{ request.build_absolute_uri }}&p[title]={{ category.name|iriencode }}"></a>
                                <a class="js-headerShareButton HeaderShare-Button twitter" target="_blank" data-share-object-type="null" data-share-method="twitter" href="http://twitter.com/home?status=Check+out+amazing+products+by+{{ category.name }}%2C+on+%40This Is My Galaxy%3A+https%3A%2F%2Fhttp://{{ request.get_host }}{{ category.get_absolute_url }}"></a>
                                <a class="js-headerShareButton HeaderShare-Button pinterest" target="_blank" data-share-object-type="null" data-share-method="pinterest" href="//www.pinterest.com/pin/create/button/?url=http://{{ request.get_host }}{{ category.get_absolute_url }}&amp;media=http://{% thumbnail category.main_image '500x630' crop='center' as img %}{{ request.get_host }}{{ img.url }}{% endthumbnail %}&amp;description={{ category.brand }}%2C+on+This+Is+My+Galaxy"></a>
                            {% endthumbnail %}
                            <a class="js-headerShareButton HeaderShare-Button email" data-share-object-type="null" data-share-method="email" href="mailto:?body=Check%20out%20AIAIAI%2C%20a%20brand%20on%20Canopy%3A%0D%0A%0D%0A%E2%80%9CAIAIAI%20is%20an%20audio%20design%20company%20dedicated%20to%20developing%20high%20quality%20audio%20products%20for%20everyday%20use.%E2%80%9D%0D%0A%0D%0Ahttps%3A%2F%2Fcanopy.co%2Fbrands%2Faiaiai&amp;subject=AIAIAI%20is%20on%20Canopy"></a>
                        </div>
                        <div class="HeaderShare-closeButtonContainer">
                            <div class="js-closeButtonAnimateTarget" style="opacity: 0">
                                <div class="close-button-base close-button-thin js-closeHeaderShareButton"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="PageHeader-contentContainer">
                    <div class="PageHeader-content">
                        {% if category.logo_image %}
                        <div class="PageHeader-brandAvatar">
                            <div class="PageHeader-avatar" style="{% thumbnail category.logo_image '192x192' as img %}background-image: url({{ img.url }}){% endthumbnail %}"></div>
                        </div>
                        {% endif %}
                        <div class="PageHeader-brandName">
                            {{ category.name }}
                        </div>
                        {% if category.description %}
                        <div class="PageHeader-description">
                            <p>{{ category.description }}</p>

                        </div>
                        {% endif %}
                        {% if category.brand_link %}
                        <a target="_blank" rel="nofollow" class="PageHeader-externalLink" href="{{ category.brand_link }}">{{ category.get_site_name }}</a>
                        {% endif %}
                        <div class="PageHeader-actionsContainer">
                            <div data-react-class="ShareButton"><div data-reactroot="" class="PillButton--stroked js-triggerHeaderShare">Share</div></div>
                        </div>
                    </div>
                    <div class="PageHeader-navigationContainer">
                        <a class="PillButton--text u-backArrow" href="{{ back_link.1 }}">{{ back_link.0 }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="PageHeader--shop js-headerShareCanvas">
            <div class="wrapper">
                <div class="HeaderShare js-closeHeaderShare">
                    <div class="HeaderShare-centeringContainer">
                        <div class="HeaderShare-shareButtons">
                            <a class="js-headerShareButton HeaderShare-Button facebook" target="_blank" data-share-object-type="null" data-share-method="facebook" href="https://facebook.com/sharer/sharer.php?s=100&p[url]={{ request.build_absolute_uri }}&p[title]={{ category.name|iriencode }}"></a>
                            <a class="js-headerShareButton HeaderShare-Button twitter" target="_blank" data-share-object-type="null" data-share-method="twitter" href="http://twitter.com/home?status=Shop+Art+%26+Design+Books+on+%40JoinCanopy%3A+https%3A%2F%2Fcanopy.co%2Fshop%2Fart-%26-design-books"></a>
                            <a class="js-headerShareButton HeaderShare-Button pinterest" target="_blank" data-share-object-type="null" data-share-method="pinterest" href="//www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fcanopy.co%2Fshop%2Fart-%26-design-books&amp;media=https://res.cloudinary.com/hcu8jcnmr/image/upload/h_882,w_2004/c_lpad,g_west,w_500,h_630,l_hezl8cabfgokh7u6qn4g,x_126,y_0/c_lpad,g_center,w_500,h_630,l_qrwnronydq5l5xtazrbk,x_0,y_0/c_lpad,g_east,w_500,h_630,l_ooi0v7a1rv9ykrrfnrbr,x_126,y_0/1px_white.jpg&amp;description=Art+%26+Design+Books+on+Canopy"></a>
                            <a class="js-headerShareButton HeaderShare-Button email" data-share-object-type="null" data-share-method="email" href="mailto:?body=Check%20out%20%E2%80%9CShop%3A%20Art%20%26%20Design%20Books%E2%80%9D%20on%20Canopy%3A%0D%0A%0D%0Ahttps%3A%2F%2Fcanopy.co%2Fshop%2Fart-%26-design-books&amp;subject=Shop%20Art%20%26%20Design%20Books%20on%20Canopy"></a>
                        </div>
                        <div class="HeaderShare-closeButtonContainer">
                            <div class="js-closeButtonAnimateTarget" style="opacity: 0">
                                <div class="close-button-base close-button-thin js-closeHeaderShareButton"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="PageHeader-content">
                    <div class="PageHeader-categoryName">{{ category.name }}
                    </div>
                    <div class="PageHeader-actionsContainer">
                        <div class="shareButton">
                            <div class="PillButton--stroked js-triggerHeaderShare">{% trans 'Share' %}</div>
                        </div>
                    </div>
                </div>
                <div class="PageHeader-navigationContainer">
                    <a class="PillButton--text u-backArrow" href="{{ back_link.1 }}">{{ back_link.0 }}</a>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block filters_position %}
    <div class="nav-level">
        <div class="nav-level-layout wrapper">
            <div class="PageTabs"></div>
            <div class="page-filters">
                <form class="filter-group" id="filter-form">
                    {% for option in filter_form.order_by %}
                        <label class="filter-link">
                            {{ option.tag }}
                            <span>{{ option.choice_label }}</span>
                        </label>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block content_class %}
    {{ block.super }} feed-list
{% endblock %}
{% block content %}
    <div id="items">
        {% include page_template %}
    </div>

{% endblock %}


{% block extra_scripts %}
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 300
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {

            function submitFilterForm() {
                data = $("#filter-form").serialize();
                $.ajax({
                    data: data,
                    success: function (data) {

                        $("#items").html(data);
                    },
                     error: function () {
                         alert('Извините за доставленные не удобства, попробуйте позже');
                     }
                })
            }
            $(".filter-group input").on("change", function (e) {
                submitFilterForm()
            });

        })
    </script>

{% endblock %}