{% extends 'base.html' %}

{% load staticfiles %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/styles4.css' %}">
{% endblock %}

{% block before-content %}

    <div class="categories">
        <div class="ui main container">
            <div class="ui four column stackable grid animated fadeIn">
                <div class="three wide column">
                    <h1>{{ category.name }}</h1>
                </div>
                <div class="thirteen wide column types">
                    <span class="all-type type active">All</span>

                            <span class="type">backpack</span>

                            <span class="type">bag</span>

                            <span class="type">bags</span>

                            <span class="type">beard oil</span>

                            <span class="type">blouse</span>

                            <span class="type">boot</span>

                            <span class="type">cap</span>
                            <span class="type">case</span>
                            <span class="type">clog</span>

                            <span class="type">clutch bag</span>

                            <span class="type">coat</span>

                            <span class="type">dress</span>

                            <span class="type">hat</span>

                            <span class="type">holder</span>

                            <span class="type">hoodie</span>



                            <span class="type">jewelery</span>



                            <span class="type">jewelry case</span>



                            <span class="type">Jewelry Stand</span>



                            <span class="type">macbook case</span>



                            <span class="type">make-up case</span>



                            <span class="type">men shoes</span>



                            <span class="type">mist</span>



                            <span class="type">necklace</span>



                            <span class="type">pillow</span>



                            <span class="type">pillowcase</span>



                            <span class="type">poncho</span>



                            <span class="type">pouch</span>



                            <span class="type">Racerback Tank</span>



                            <span class="type">sandal</span>



                            <span class="type">scarf</span>



                            <span class="type">shirt</span>



                            <span class="type">Shoes</span>



                            <span class="type">shoes</span>



                            <span class="type">shopping bag</span>



                            <span class="type">short</span>



                            <span class="type">slipper</span>



                            <span class="type">sneaker</span>



                            <span class="type">socks</span>



                            <span class="type">sunglass</span>



                            <span class="type">sweater</span>


                            <span class="more-type">more..</span>
                </div>
            </div>
            <div class="column center aligned animated fadeIn">
            </div>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="nav-level">


    <div class="nav-level-layout wrapper">

        <div class="PageTabs"></div>
        <div class="page-filters">

            <div class="filter-group">
                <a class="filter-link active " href="/shop/art-&amp;-design-books/trending">Trending</a>
                <a class="filter-link  " href="/shop/art-&amp;-design-books/popular">Most popular</a>
                <a class="filter-link  " href="/shop/art-&amp;-design-books/most-expensive">&nbsp;$$$&nbsp;</a>
                <a class="filter-link  " href="/shop/art-&amp;-design-books/least-expensive">&nbsp;$&nbsp;</a>
                <a class="filter-link  is-prime" href="/shop/art-&amp;-design-books/prime">Prime</a>

            </div>
        </div>

    </div>
    </div>
    <div class="ui stackable doubling four column grid">
    {% for item in category.items.all %}

       {% include 'catalogue/preview_item.html' %}

    {% endfor %}
    </div>
{% endblock %}