{% extends 'base.html' %}

{% load staticfiles %}

{% block before-content %}

{% endblock %}

{% block styles %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'css/styles4.css' %}">
{% endblock %}

{% block content%}

    <div class="wrapper">
        <div class="cards-container ready">
            <div class="CollectionGrid-container">
                <div class="CollectionGrid">
                    {% for category in categories %}
                    <a class="CollectionGrid-tile hover-overlay-light" href="{{ category.get_absolute_url }}">
                        <div class="CollectionGrid-tileImage" style="background-image: url(https://res.cloudinary.com/hcu8jcnmr/image/upload/v1465317720/mcmcyymdgr3vaetajcgd.png); visibility:hidden;"></div>
                        <div class="CollectionGrid-tileImage1 align-center" style="background-image: url({{ category.main_image.url }})"></div>
                        <div class="CollectionGrid-tileName js-dotdotdot" style="word-wrap: break-word; white-space: normal;">
                            {{ category.name }}
                        </div>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="InfiniteScrollFooter">
            <div class="InfiniteScrollFooter-signature"></div>

        </div>

    </div>

{% endblock %}