{% extends 'catalogue/catalogue.html' %}

{% load thumbnail %}
{% load likelist_tags %}
{% load i18n %}

{% block before-content %}

{% endblock %}

{% block content %}

        {% include 'catalogue/_item_detail.html' with img_size='400x400' %}
{% endblock %}

{% block extra_scripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#like-button").on('click', function (e) {
                e.preventDefault();
                console.log('like-button');
                $btn = $(this);
                var url = $btn.attr('href');
                $.ajax({
                    url: url,
                    contentType: 'application/json',
                    success: function (data) {
                        if('added' in data) {
                            $btn.addClass('is-liked');
                        }
                        else if('removed' in data){
                            $btn.removeClass('is-liked');
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}