{% load thumbnail %}

<div class="column desktop only">
     <a class="product-grid-link" href="{{ item.get_absolute_url }}" data-id="{{ item.slug }}">
         <div class="amazon-product item-prev">
             <div class="ui image animated fadeIn">
                 {% thumbnail item.main_image '198x198' crop="center" as im %}
                    <img src="{{ item.main_image.url }}" alt="{{ item.title }}">
                 {% endthumbnail %}
             </div>
             <div class="overlay">
                 <div class="love-this-wrapper">
                     <span class="love-this-count">{{ item.total_likes }}</span>
                     <i class="heart icon large love-this-icon animated fadeIn"></i>
                 </div>
                 <p class="hover-title animated fadeIn">{{ item.title }}</p>
                 <div class="buy-on-provider-link animated fadeIn">
                     <p class="buy-on-provider-text">
                         Buy on <span class="buy-on-provider">{{ item.get_site_name }}</span> <i class="external icon" title="Buy on {{ item.get_site_name }}"></i>
                     </p>
                 </div>
             </div>
             <p class="price-label animated fadeIn">
                 <i class="checkmark icon" title="Amazon prime"></i> <span class="dollar-sign">$</span>{{ item.get_parse_price.digits }}<span class="decimals">{{ item.get_parse_price.decimal }}</span>
             </p>
         </div>
     </a>
 </div>

 <div class="column mobile tablet only">
     <a class="product-grid-link" href="{{ item.get_absolute_url }}" data-id="{{ item.slug }}">
         <div class="amazon-product item-prev">
             <div class="love-this-wrapper">
                 <span class="love-this-count">{{ item.total_likes }}</span>
                 <i class="heart icon large love-this-icon animated fadeIn"></i>
             </div>
             <div class="ui image animated fadeIn">
                 {% thumbnail item.main_image '198x198' crop="center" as im %}
                    <img src="{{ item.main_image.url }}" alt="{{ item.title }}">
                 {% endthumbnail %}
             </div>
             <div class="buy-on-provider-link animated fadeIn">
                 <p class="buy-on-provider-text">
                     Buy on <span class="buy-on-provider">{{ item.get_site_name }}</span> <i class="external icon" title="Buy on {{ item.get_site_name }}"></i>
                 </p>
             </div>
             <p class="price-label animated fadeIn">
                 <i class="checkmark icon" title="Amazon prime"></i> <span class="dollar-sign">$</span>{{ item.get_parse_price.digits }}<span class="decimals">{{ item.get_parse_price.decimal }}</span>
             </p>
         </div>
     </a>
 </div>
